
.gitignore

__pycache__/
*.py[cod]
*.pyo
*.pyd

OCRtest/
venv/
.venv/
env/
ENV/
.env/
.conda/
pip-wheel-metadata/


.vscode/

*.pyc


Thumbs.db
.DS_Store

.dll
.h
.csc
.tcl
.xbm
.eps
.msg

*.log
.idea/